body{
  font-family: Helvetica, Arial; 
} 

#video{
	
	height:387px;
}
header{
	margin: 50px auto 30px;
}
footer{
	margin-bottom: 10px;
}
button{
	color: #95B0E6;
	margin: 10px;
}
body{
	background-color: #FFFFCC;
}
div.imag{
 	background-image: url('../img/template1.jpg'); 
 	height:387px;
}
@media only screen and (max-width: 900px){
 nav ul  {

	width:100%;

 }
 nav ul li {
 	display: block;
 	text-align: center;
	width:100%;
	float:none;
	}
nav a{
 	vertical-align:middle;
 }
}