body{
  font-family: Helvetica, Arial;
  background-color: #C9AB8A;
}

#video{
height: 387px;
}

header{
margin: 50px auto 30px;
}

footer{
margin-bottom: 10px;
color:#356aa0;
}

button.btn{
font-weight:bold;
font-size:18px;
margin: 10px;
background: #356aa0; /* Old browsers */
background: -moz-linear-gradient(top, #356aa0 0%, #356aa0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356aa0), color-stop(100%,#356aa0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #356aa0 0%,#356aa0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #356aa0 0%,#356aa0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #356aa0 0%,#356aa0 100%); /* IE10+ */
background: linear-gradient(to bottom, #356aa0 0%,#356aa0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */
}

div.navbar-inner{
background: #356aa0; /* Old browsers */
background: -moz-linear-gradient(top, #356aa0 0%, #356aa0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356aa0), color-stop(100%,#356aa0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #356aa0 0%,#356aa0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #356aa0 0%,#356aa0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #356aa0 0%,#356aa0 100%); /* IE10+ */
background: linear-gradient(to bottom, #356aa0 0%,#356aa0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */
}

.navbar .brand {
    color: white;
}

.navbar .nav > li > a:hover {
    color: white;
font-size:18px;
}

.navbar .nav > li > a {
    color: white;
font-size:18px;
}

div.imag{
  background-image: url('../img/template.jpg');
  height:387px;
  background-repeat:no-repeat;
}

@media only screen and (max-width: 900px){
 nav ul {
width:100%;
}
 nav ul li {
display: block;
text-align: center;
width:100%;
float:none;
}
nav a{
  vertical-align:middle;
 }
}